.footer {
    font: bold;
    color: rgb(6, 88, 6);
    text-align: left;
    background-color: rgb(19, 194, 48);
}
.footer a{
    color: rgb(241, 241, 241);
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}
.text-email{
    color: #474f04;
}